:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 34 197 94;
  --oui-color-primary-light: 200 200 200;
  --oui-color-primary-darken: 22 163 74;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 255 255;
  --oui-color-link-light: 220 220 220;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 220 220 220;
  --oui-color-quaternary: 220 220 220;

  --oui-color-danger: 239 68 68;
  --oui-color-danger-light: 252 165 165;
  --oui-color-danger-darken: 185 28 28;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 197 94;
  --oui-color-success-light: 74 222 128;
  --oui-color-success-darken: 22 163 74;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 234 179 8;
  --oui-color-warning-light: 253 224 71;
  --oui-color-warning-darken: 202 138 4;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 10 10 10;
  --oui-color-fill-active: 20 20 20;

  --oui-color-base-1: 255 255 255;
  --oui-color-base-2: 220 220 220;
  --oui-color-base-3: 200 200 200;
  --oui-color-base-4: 160 160 160;
  --oui-color-base-5: 120 120 120;
  --oui-color-base-6: 90 90 90;
  --oui-color-base-7: 60 60 60;
  --oui-color-base-8: 40 40 40;
  --oui-color-base-9: 20 20 20;
  --oui-color-base-10: 10 10 10;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 60 60 60;

  --oui-color-trading-loss: 239 68 68;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 197 94;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 10 10 10;
  --oui-gradient-primary-end: 34 197 94;

  --oui-gradient-secondary-start: 10 10 10;
  --oui-gradient-secondary-end: 60 60 60;

  --oui-gradient-success-start: 10 10 10;
  --oui-gradient-success-end: 34 197 94;

  --oui-gradient-danger-start: 10 10 10;
  --oui-gradient-danger-end: 239 68 68;

  --oui-gradient-brand-start: 255 255 255;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 10 10 10;
  --oui-gradient-warning-end: 234 179 8;

  --oui-gradient-neutral-start: 10 10 10;
  --oui-gradient-neutral-end: 40 40 40;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}

.oui-scaffold-footer-powered-by {
  display: none !important;
}